// Nodemine by DJF

@import "compass_twitter_bootstrap";
// @import "compass_twitter_bootstrap_responsive";

// Variables
$padVert: 8px;
$padHoriz: 14px;
$brand: #7697B0;
$brandLight: #ABC2D3;
$brandLighter: #F4F8FA;

// Fill the browser vertically
html, body { height:100%; overflow:hidden; }
.main { 
	margin-top:$navbarHeight;  height:100%;
	> .row-fluid, .item-container, .view-panel, .view-panel-inner { height:100%; }
}
.plain-text { font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }

body {
	-webkit-font-smoothing:antialiased;
}
.container-fluid { padding-left:0; padding-right:0; }

.brand {
	.icon-white { 
		margin:-4px 0 0 6px;
		-webkit-transform: scale(1.3); vertical-align: middle; }
}
.title { font-size:1.1em; }
.subline { font-size:0.9em; color:$grayLight; }
input, textarea { width:auto; }
textarea { resize:none; }

.hidden { display: none; visibility: hidden; }

// Item list
.item-container {}
.column-header {
	padding:$padVert $padHoriz+2; background-color: $grayLighter; font-weight:600;
}
.item-list {
	margin:0; height:100%; list-style: none; background:$grayLightest; overflow-y:scroll;
	li {
		background-color:$white; line-height: 1.3em;
		border-bottom:1px solid $grayLighter;

		&.selected { background-color: $grayLighter; }

		a {
			display: block; padding:$padVert $padHoriz;
			color:$grayDark; cursor:pointer;
			border-left:8px solid $brandLight;

			&.read-true { border-color:$white; }

			&:hover { text-decoration: none; background-color:$brandLighter;  }

			// &.priority-1 { border-left-color: $red; }
			// &.priority-2 { border-left-color: $orange; }
			// &.priority-3 { border-left-color: $yellow; }
			// &.priority-4 { border-left-color: $blue; }
		}
		// .delete-button { display:  }
	}
}


.view-panel-inner {
	padding:$padVert $padHoriz;
	overflow-y:scroll;
	border-left:1px solid #ccc;	
}
.view-panel {
	.title-input { width:90%; color:$grayDark; }
	.wide-input { width:90%; }
}

.preview-iframe { border:0; width:100%; min-height:600px; }

// .view-edit-toggle {
// 	// .view { display:  }
// 	.edit { display: none; }
// }



