<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>MailDev</title>
    <meta name="description" content="SMTP Server + Web Interface for viewing and testing emails during development.">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="nodemineApp">

    <div class="navbar nav-bar-fluid navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="row-fluid">

            <div class="span4">
              <a href="#/" class="brand">MailDev <i class="icon-envelope icon-white"></i></a>
            </div>

            
              <ul class="nav" ng-controller="NavCtrl">
                
                <li>
                  <a ng-click="refreshList()">
                    <i class="icon-refresh icon-white"></i> 
                    Refresh
                  </a>
                </li>

                <li>
                  <a ng-click="deleteAll()">
                    <i class="icon-trash icon-white"></i> 
                    Delete All
                  </a>
                </li>

                <!-- Future settings/config page -->
                <!--<li>
                  <a herf="#/settings">
                    <i class="icon-cog icon-white"></i> 
                    Settings
                  </a>
                </li>-->

              </ul>


          </div>
        </div>

      </div>
    </div>

    <div class="container-fluid main">

      <div class="row-fluid">

        <div class="span4 item-container" ng-controller="MainCtrl">
          
          <div class="column-header">
            Items:
            <!-- TODO - Add filter link here later-->
          </div>

          <ul class="item-list">
            <li ng-repeat="item in items | orderBy:'time':!reverse" ng-class="{ read: item.read }">

              <a href="#/email/{{item.id}}" class="email-{{item.id}}" ng-click="markRead(item)">
                <div class="title">{{item.subject}}</div>
                <div class="subline clearfix">
                  <span class="pull-left">{{item.to.0.address}}</span>
                  <span class="pull-right">{{item.time | date:'short' }}</span>
                </div>
              </a>

            </li>
          </ul>

        </div>

        <div class="span8 no-gutter view-panel">
          <div class="view-panel-inner" ng-view>

          </div>
        </div>

      </div>

    </div>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/item.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/app.js"></script>

  </body>
</html>
