<!doctype html>
<html ng-app="mailDevApp" ng-controller="MainCtrl">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{ unreadItems > 0 ? '(' + unreadItems + ') ' : '' }}MailDev</title>
        <meta name="description" content="SMTP Server + Web Interface for viewing and testing emails during development.">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>

        <div class="application-container">

            <div class="sidebar">

                <div class="sidebar-header">
                    <div class="brand-container">
                        <a href="#/" class="brand">
                            <i class="fa fa-envelope a"></i>
                            MailDev
                        </a>
                        <div class="autoshow-toggle">
                          <i class="fa" ng-class="{'fa-bell' : autoShow, 'fa-bell-o': !autoShow}" ng-click="toggleAutoShow()" title="Automatically show new emails as they arrive"></i>
                        </div>
                    </div>
                    <div>
                    </div>
                    <div class="search-container">
                        <input type="text" ng-model="search" class="search-input" placeholder="Search">
                        <i class="fa fa-search search-icon"></i>
                    </div>
                </div>

                <div class="sidebar-scrollable-content">
                    <ul class="email-list">
                        <li ng-repeat="item in items | orderBy:'time':!reverse | filter: search " class="ng-cloak">

                            <a href="#/email/{{item.id}}" class="email-item email-{{item.id}}" ng-class="{current: item.id === currentItemId}" ng-click="markRead(item)">
                                <span class="title">
                                    {{item.subject}}
                                    <i class="fa fa-paperclip" ng-hide="!item.attachments"></i>
                                    <i class="fa fa-circle unread-icon" ng-hide="item.read"></i>
                                </span>
                                <span class="subline clearfix">
                                    <span class="subline-from">{{item.to.0.address}}</span>
                                    <span class="subline-time">{{item.time | date:'short' }}</span>
                                </span>
                            </a>

                        </li>
                    </ul>
                </div>

            </div><!-- END .item-container -->

            <div class="main-container">

                <div class="application-toolbar">
                    <ul class="toolbar" ng-controller="NavCtrl">

                        <li>
                            <a ng-click="refreshList()" href="" >
                                <i class="fa fa-refresh"></i>
                                Refresh
                            </a>
                        </li>

                        <li>
                            <a ng-click="deleteAll()" href="">
                                <i class="fa fa-inbox"></i>
                                Clear Inbox
                            </a>
                        </li>

                    </ul>

                    <ul class="toolbar toolbar-right" ng-controller="NavCtrl">

                        <li>
                            <a href="#/">
                                <i class="fa fa-info-circle"></i>
                                Info
                            </a>
                        </li>

                    </ul>
                </div><!-- END .application-toolbar -->

                <div class="email-container" ng-view>


                </div>

            </div><!-- END .main-container -->

        </div><!-- END .application-container -->

        <script src="components/angular/angular.min.js"></script>
        <script src="components/angular-resource/angular-resource.min.js"></script>
        <script src="components/angular-route/angular-route.min.js"></script>
        <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="components/angular-cookies/angular-cookies.min.js"></script>
        <script src="components/socket.io/socket.io.min.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/item.js"></script>

    </body>
</html>
