<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>MailDev</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="nodemineApp">

    <div class="navbar nav-bar-fluid navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="row-fluid">

            <div class="span4">
              <a href="#/" class="brand">MailDev <i class="icon-envelope icon-white"></i></a>
            </div>

            
              <ul class="nav" ng-controller="NavCtrl">
                
                <li>
                  <a ng-click="refreshList()">
                    <i class="icon-refresh icon-white"></i> 
                    Refresh
                  </a>
                </li>

                <li>
                  <a ng-click="deleteAll()">
                    <i class="icon-trash icon-white"></i> 
                    Delete All
                  </a>
                </li>

                <!--<li>
                  <a herf="#/settings">
                    <i class="icon-cog icon-white"></i> 
                    Settings
                  </a>
                </li>-->

              </ul>


          </div>
        </div>

      </div>
    </div>

    <div class="container-fluid main">

      <div class="row-fluid">

        <div class="span4 item-container" ng-controller="MainCtrl">
          
          <div class="column-header">
            Items:
            <!-- Add filter link here later-->
          </div>

          <ul class="item-list">
            <li ng-repeat="item in items | orderBy:'time':!reverse" class="read-{{item.read}}">

              <a href="#/email/{{item.id}}" class="email-{{item.id}}">
                <div class="title">{{item.subject}}</div>
                <div class="subline clearfix">
                  <span class="pull-left">{{item.to.0.address}}</span>
                  <span class="pull-right">{{item.time | date:'short' }}</span>
                </div>
              </a>

            </li>
          </ul>

        </div>

        <div class="span8 no-gutter view-panel">
          <div class="view-panel-inner" ng-view>

          </div>
        </div>

      </div>

    </div>


    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>

    <!-- build:js(.tmp) scripts/scripts.js -->
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/item.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      // s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
