body.dark-theme {

  $dark: darken($brand, 40);
  $darkLight: lighten($dark, 20);
  $darkLighter: lighten($dark, 40);
  $darkDark: darken($dark, 20);

  .application-container {
    background-color: $dark;
  }

  .sidebar {
    background-color: $dark;
  }

  .sidebar-header {
    background-color: $darkDark;
  }

  .brand {
    color: $brand;
  }

  .application-toolbar {
    background-color: $darkDark;
  }

  .email-item {
    background-color: $dark;
    color: $whiteSemiTrans;
    border-bottom: 1px solid $brand;

    &:hover {
      background-color: $darkLight;
    }

    .unread-icon {
      color: $brandLight;
    }
  }

  .email-content {
    background: $greyLight;
    padding: 3.8em 1em;
    margin: 0;
  }

  .email-toolbar {
    background: $darkDark;
    color: $whiteSemiTrans;
  }

  .main-content {
    background: $greyLight;
    padding: 1.5em 2em;
    margin: 0;
  }

  .toolbar {
    a,
    .toggle-switch {
      &:hover {
        color: $whiteSemiTrans;
      }
    }

    &.on-light {
      a,
      .toggle-switch {
        color: $whiteSemiTrans;
      }
    }
  }


  .toggle-switch {
    input {
      background: $whiteSemiTrans;

      &::before {
        background: $brand;
      }
    }
  }

  .dropdown-menu {
    background-color: $darkDark;
  }

  .search-input {
    background-color: $darkDark;
    color: $whiteSemiTrans;

    &:focus {
      background-color: $dark;

      +.search-icon {
        color: $whiteSemiTrans;
      }
    }
  }

  .email-item.current {
    background: $darkLighter;
  }
}
