@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('eot'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Italic-webfont.eot');
  src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('eot'), url('../fonts/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/OpenSans-Italic-webfont.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
  src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('eot'), url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-BoldItalic-webfont.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}