
@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin justify-content($value){
  -webkit-box-pack: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}

@mixin align-content($value){
  -ms-flex-line-pack: $value;
  align-content: $value;
}

@mixin align-items($value){
  -webkit-box-align: $value;
  -ms-flex-align: $value;
  align-items: $value;
}
