// Nodemine by DJF

@import "compass_twitter_bootstrap";
@import "compass/css3/font-face";

// Fonts
@include font-face("Open Sans",
	font-files("OpenSans-Regular-webfont.woff", woff, 
		"OpenSans-Regular-webfont.otf", opentype), 
		"OpenSans-Regular-webfont.eot", normal);
@include font-face("Open Sans",
	font-files("OpenSans-Italic-webfont.woff", woff, 
		"OpenSans-Italic-webfont.otf", opentype), 
		"OpenSans-Italic-webfont.eot", normal, italic);
@include font-face("Open Sans",
	font-files("OpenSans-Bold-webfont.woff", woff, 
		"OpenSans-Bold-webfont.otf", opentype), 
		"OpenSans-Bold-webfont.eot", bold);
@include font-face("Open Sans",
	font-files("OpenSans-BoldItalic-webfont.woff", woff, 
		"OpenSans-BoldItalic-webfont.otf", opentype), 
		"OpenSans-BoldItalic-webfont.eot", bold, italic);

// Variables
$padVert: 8px;
$padHoriz: 14px;
$brand: #7697B0; 
$brandLight: #ABC2D3;
$brandLighter: #F4F8FA;
$brandLightGrey: #B8C5CF;

// Buttons

.btn-brand-light {
	color:#fff; text-shadow:0 1px 1px rgba(0,0,0,0.15); 
	border:0; border-bottom:1px solid rgba(68,68,68,0.3);
	background-image: none; background-color: $brandLight;
	font-weight:bold;
	&:hover { 
		color:#fff;
		background-color: darken($brandLight, 10);
	}
	// Click active
	&:active {
		border-bottom:0;
		box-shadow: none;
		background-color: darken($brandLight, 10);
	}
	// State active
	&.active {
		color:#fff;
		box-shadow: none;
		background-color: darken($brandLight, 10);
	}

	&.disabled {
		&:hover, &:active, & { 
			color:#555; background-color:lighten($brandLight, 10);
			border-bottom:1px solid 1px solid rgba(68,68,68,0.3);
		}
	}
}


// Fill the browser vertically
html, body { height:100%; overflow:hidden; }
.main { 
	margin-top:$navbarHeight;  height:100%;
	> .row-fluid, .item-container, .view-panel, .view-panel-inner { height:100%; }
}
.plain-text { font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }

body {
	-webkit-font-smoothing:antialiased;
}
.container-fluid { padding-left:0; padding-right:0; }

.brand {
	.icon-white { 
		margin:-4px 0 0 6px;
		-webkit-transform: scale(1.3); vertical-align: middle; }
}
.title { font-size:1.1em; word-wrap:break-word; }
.subline { font-size:0.9em; color:$grayLight; }
input, textarea { width:auto; }
textarea { resize:none; }

.hidden { display: none; visibility: hidden; }

// Main page
.slide-container {
	overflow: hidden;
	max-height: 0px;
	-webkit-transition: max-height 500ms ease-in-out;
	   -moz-transition: max-height 500ms ease-in-out;
			transition: max-height 500ms ease-in-out;

	&.open {
		max-height: 1000px;
	}
}

// Item list
.item-container {}
.column-header {
	padding:$padVert $padHoriz+2; background-color: $grayLighter; font-weight:bold;
}
.item-list {
	margin:0; height:100%; list-style: none; background:$grayLightest; overflow-y:scroll;
	li {
		background-color:$white; line-height: 1.3em;
		border-bottom:1px solid $grayLighter;

		&.selected { background-color: $grayLighter; }
		&:last-child { margin-bottom: 80px; }

		&.read a { border-color:$brandLightGrey; }

		a {
			display: block; padding:$padVert $padHoriz;
			color:$grayDark; cursor:pointer;
			border-left:8px solid $brand;

			&:hover { text-decoration: none; background-color:$brandLighter;  }
		}
	}
}
.icon-attachment {
	height: 10px; width: 18px; margin-left: 4px;
	vertical-align: baseline;

	background-image: url('/images/paperclip.png');
	background-position: top left;
}


.view-panel-inner {
	padding:$padVert $padHoriz;
	overflow-y:scroll;
	border-left:1px solid #ccc;	
}
.view-panel {
	.title-input { width:90%; color:$grayDark; }
	.wide-input { width:90%; }

	.btn-group, .btn-group-label { display: inline-block; vertical-align: middle; }
	.btn-group-label { margin-left:20px; margin-right:4px; }

}

[class*="panel-visible-"] {
	[class*="panel-"] { display: none; }
}
.panel-visible-html .panel-html { display: block; }
.panel-visible-plain .panel-plain { display: block; }
.panel-visible-headers .panel-headers { display: block; }
.panel-visible-attachments .panel-attachments { display:block; }

.preview-iframe { 
	border:0; width:100%; min-height:600px;
	position: relative; // set position for resize rendering issue
}

// .view-edit-toggle {
// 	// .view { display:  }
// 	.edit { display: none; }
// }


// AngularJS Helpers
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak,
.ng-hide {
	display: none !important;
}
