@import "normalize";

// Variables
$padVert: 8px;
$padHoriz: 14px;
$brand: #7697B0;
$brandLight: #ABC2D3;
$brandLighter: #F4F8FA;

$text: #555555;

body {
	background: #fafafa; color:$text;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	color:darken($brand, 10);
	-webkit-transition:all 150ms linear;
	-moz-transition:all 150ms linear;
	transition:all 150ms linear;
	&:hover { color:$brand; }
}

header {
	position: fixed; z-index:900;
	background:$brand; color:#fff; height:50px; width:100%;
	padding:1em 0;
	.inner { margin:0 auto; width:100%; max-width: 960px; }
	.branding { float: left; font-weight: 300; margin:0; }
	.description { float: right; font-weight: 300; }
}
footer {
	width:100%; text-align: center; background-color: $brand; color:#ffffff;
	padding:1em 0;
	a {
		color:$brandLighter;
		&:hover { color:#fff; }
	}
}

.github-ribbon {
	width:220px; font-size:0.8em; background-color:rgba(255,255,255,0.8); color:darken($brand, 10);
	position: absolute; top:50px; right:-50px; z-index:1000; display: block; padding:0.3em 0;
	text-decoration: none; text-align: center;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
	&:hover { background-color:rgba(255,255,255,1.0); color:$brand; }
}

.jumbotron {
	background: $brand; width:100%; padding-top:80px;
	height:400px; overflow: hidden;
}
.jumbotron-image { display: block; margin:0 auto; max-width:800px; width:80%; }

.content { width:90%; max-width: 1000px; margin:0 auto; }

pre {
	padding: 8px 15px; 
	background:#eeeeee; color:darken($text, 10%); overflow-x: auto;
}
code { background:#eeeeee; color:darken($text, 10%); }
p code, li code { padding:0.1em 0.4em; font-size:0.95em; }

.description-main { 
	font-size:1.3em; width:74%; margin:1.5em auto; text-align: center;
}
.button-link-list {
	list-style: none; padding:0; margin:1em 0;
	li { margin-right:0.1em; display: inline-block; }
	a {
		display: block; padding:0.4em 1em; color:#ffffff;
		text-decoration: none; background-color: $brandLight;
		&:hover { background-color:$brand;  }
	}
}


