@import "normalize";

// Variables
$padVert: 8px;
$padHoriz: 14px;

$brand:             rgb(73, 148, 206); 
$brandLight:        lighten($brand, 20);
$brandLighter:      lighten($brand, 40);
$brandDark:         darken($brand, 20);

$white:             rgb(255,255,255);
$whiteSemiTrans:    rgba(255,255,255,0.8);

$greyXLight:        rgb(250,250,250);
$greyLight:         rgb(220,220,220);
$greyMedium:        rgb(140,140,140);
$greyDark:          rgb(80,80,80);
$greyXDark:         rgb(40,40,40);

$text: 				#555555;

body {
	background: $greyXLight; color:$text;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	color:darken($brand, 10);
	-webkit-transition:all 150ms linear;
	-moz-transition:all 150ms linear;
	transition:all 150ms linear;
	&:hover { color:$brand; }
}
h1, h2, h3 { font-weight: 400; }

h2 { margin:1.0em 0; }

header {
	position: fixed; z-index:900;
	background:$brand; color:#fff; height:50px; width:100%;
	padding:1em 0;

	.inner { margin:0 auto; width:100%; max-width: 960px; }
	.branding { float: left; font-weight: 300; margin:0; }
	.branding .version-number { font-size:0.4em; }
	.description { float: right; font-weight: 300; }
}
footer {
	width:100%; text-align: center; background-color: $brand; color:#ffffff;
	padding:1em 0;
	a {
		color:$brandLighter;
		&:hover { color:#fff; }
	}
}

.github-ribbon {
	width:220px;
	position: absolute; top:50px; right:-50px; z-index:1000; display: block; padding:0.3em 0;
	font-size:0.8em; background-color:rgba(255,255,255,0.8); color:darken($brand, 10);
	text-decoration: none; text-align: center;

	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);

	&:hover { background-color:rgba(255,255,255,1.0); color:$brand; }
}

.jumbotron {
	background: $brand; width:100%; padding-top:80px;
	height:400px; overflow: hidden;
}
.jumbotron-image { display: block; margin:0 auto; max-width:800px; width:80%; }

.content { width:90%; max-width: 1000px; margin:0 auto; }

pre {
	padding: 8px 15px; 
	background: $whiteSemiTrans; color:darken($text, 10%); overflow-x: auto;
}
code { background:$whiteSemiTrans; color:darken($text, 10%); }
p code, li code { padding:0.1em 0.4em; font-size:0.95em; }

.description-main { 
	font-size:1.3em; width:74%; margin:1.5em auto; text-align: center;
}
.button-link-list {
	list-style: none; padding:0; margin:1em 0;

	li { margin-right:0.1em; display: inline-block; }

	a {
		display: block; padding:0.4em 1em; color:#ffffff;
		text-decoration: none; background-color: $brandLight;
		&:hover { background-color: $brandDark;  }
	}
}


