<ul class="toolbar email-toolbar on-light">

    <li class="dropdown-container">
      <a href="" class="dropdown-trigger"
        ng-click="toggleDropdown($event, 'display')"
        ng-class="{ open: dropdownOpen == 'display' }">
        <i class="fa fa-file-o"></i>
        Display
      </a>
      <ul class="dropdown-menu">
        <li>
            <a href="" class=""
              ng-click="show('html')"
              ng-class="{ active: panelVisibility == 'html', disabled: !item.html }">
                <i class="fa fa-code"></i>
                HTML
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="show('plain')"
              ng-class="{ active: panelVisibility == 'plain' }">
                <i class="fa fa-file-text-o"></i>
                Plain Text
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="show('headers')"
              ng-class="{ active: panelVisibility == 'headers' }">
                <i class="fa fa-list"></i>
                Headers
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="show('source')"
              ng-class="{ active: panelVisibility == 'source' }">
                <i class="fa fa-file"></i>
                Source
            </a>
        </li>
      </ul>
    </li>

    <li class="dropdown-container">
      <a href="" class="dropdown-trigger"
        ng-click="toggleDropdown($event, 'viewport')"
        ng-class="{ open: dropdownOpen == 'viewport' }">
        <i class="fa fa-tablet"></i>
        Viewport
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="" class=""
            ng-click="resize('320px')"
            ng-class="{ active: iframeSize == '320px' }">
              <i class="fa fa-mobile fa-mobile-smaller"></i>
              320px
          </a>
      </li>
      <li>
          <a href="" class=""
            ng-click="resize('480px')"
            ng-class="{ active: iframeSize == '480px' }">
              <i class="fa fa-mobile"></i>
              480px
          </a>
      </li>
      <li>
          <a href="" class=""
            ng-click="resize('600px')"
            ng-class="{ active: iframeSize == '600px' }">
              <i class="fa fa-tablet"></i>
              600px
          </a>
      </li>
      <li>
          <a href="" class=""
            ng-click="resize()"
            ng-class="{ active: iframeSize == null }">
              <i class="fa fa-desktop"></i>
              Full
          </a>
      </li>
      </ul>
    </li>


    <li>
        <a href="" class=""
          ng-click="show('attachments')"
          ng-class="{ active: panelVisibility == 'attachments', disabled: !item.attachments }">
            <i class="fa fa-paperclip"></i>
            Attachments
        </a>
    </li>
    <li>
        <a href="" class=""
          ng-click="delete(item)">
            <i class="fa fa-trash-o"></i>
            Delete
        </a>
    </li>
    <li>
        <a href="" class=""
          ng-click="relay(item)"
          ng-class="{ disabled: !config.isOutgoingEnabled }">
            <i class="fa fa-cloud-upload"></i>
            Relay
        </a>
    </li>
    <li>
        <a href="" class=""
           ng-click="relayTo(item)"
           ng-class="{ disabled: !config.isOutgoingEnabled }">
            <i class="fa fa-share"></i>
            Relay to
        </a>
    </li>
    <li>
        <a href="email/{{item.id}}/download" class="">
            <i class="fa fa-cloud-download"></i>
            Download EML
        </a>
    </li>
</ul>

<div class="email-content">

    <iframe ng-src="{{ item.iframeUrl }}" class="preview-iframe panel-html" ng-hide=" panelVisibility != 'html' "></iframe>

    <div class="plain-text panel-plain" ng-bind-html=" item.text|escapeHTML " ng-hide=" panelVisibility != 'plain' "></div>

    <div class="panel-attachments" ng-hide=" panelVisibility != 'attachments' ">
        <span ng-repeat="attachment in item.attachments">
            <a target="_blank" ng-href="email/{{item.id}}/attachment/{{attachment.generatedFileName | encodeURIComponent}}">
                <strong>{{attachment.generatedFileName}}</strong>
            </a>
            <br>
        </span>
    </div>

    <div class="panel-headers" ng-hide=" panelVisibility != 'headers' ">
        <table class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tr ng-repeat="(headerKey, headerValue) in item.headers">
                <td class="span3">
                    <strong>{{headerKey}}</strong>
                </td>
                <td>
                    {{headerValue}}
                </td>
            </tr>
        </table>
    </div>

    <iframe ng-src="{{ rawEmail }}" class="preview-iframe panel-source" ng-hide=" panelVisibility != 'source' "></iframe>

</div>
