<div class="main-content">
    <h2>
        Now receiving all emails on port {{ config.smtpPort }}
    </h2>

    <p>
        For information on how to send emails from your application, please refer the "<a href="https://github.com/maildev/maildev#configure-your-project" target="_blank">Configure your project</a>" guide.
    </p>

    <p>
    	For questions, feature requests or to report issues visit the <a href="https://github.com/maildev/maildev" target="_blank">GitHub repository</a>.
    </p>

    <p>
        <small>You are running MailDev {{ config.version }}</small>
    </p>

</div>
